In [2]:
import os

import pandas as pd
import numpy as np

In [15]:
data_path = '/home/zigan/Documents/wangyouan/github_projects/wangyouan.github.io/data/useful_data'
df = pd.read_csv(os.path.join(data_path, 'compustat_sample.csv'), dtype={'cusip': str, 'fyear': str}, 
                 usecols=[
    'fyear', 'cusip', 'conm', 'at', 'ch', 'emp', 'lt', 'ni', 'xopr', 'city', 'state'])
df = df[df['fyear'].notnull()]
df.loc[:, 'year'] = df['fyear'].apply(int)
df = df.drop(['fyear'], axis=1).rename(index=str, columns={
    'conm': 'firm_name', 'at': 'total_assets', 'ch': 'cash', 'emp': 'emp_num', 'lt': 'total_debt', 
    'ni': 'net_income', 'xdp': 'depreciation_expense', 'xopr': 'operation_cost', 
})

In [17]:
df.to_pickle(os.path.join(data_path, 'compustat_sample.pkl'))

In [16]:
df

,cusip,firm_name,total_assets,cash,emp_num,total_debt,net_income,operation_cost,city,state,year
0,000361105,AAR CORP,1515.000,54.700,4.850,669.900,10.200,1510.600,Wood Dale,IL,2014
1,000361105,AAR CORP,1442.100,31.200,4.700,576.300,47.700,1525.700,Wood Dale,IL,2015
2,000361105,AAR CORP,1504.100,10.300,4.600,589.900,56.500,1619.400,Wood Dale,IL,2016
3,02376R102,AMERICAN AIRLINES GROUP INC,48415.000,390.000,118.500,42780.000,7610.000,32099.000,Fort Worth,TX,2015
4,02376R102,AMERICAN AIRLINES GROUP INC,51274.000,322.000,122.300,47489.000,2676.000,32347.000,Fort Worth,TX,2016
5,02376R102,AMERICAN AIRLINES GROUP INC,51396.000,295.000,126.600,47470.000,1919.000,35398.000,Fort Worth,TX,2017
6,125141101,CECO ENVIRONMENTAL CORP,598.819,34.194,1.174,353.798,-5.602,322.251,Dallas,TX,2015
7,125141101,CECO ENVIRONMENTAL CORP,498.634,45.824,0.985,308.552,-38.218,360.792,Dallas,TX,2016
8,125141101,CECO ENVIRONMENTAL CORP,438.549,29.902,0.900,251.980,-3.029,316.986,Dallas,TX,2017
9,G3156P103,ASA GOLD AND PRECIOUS METALS,162.350,2.751,NaN,1.606,-60.285,3.376,San Mateo,CA,2015
10,G3156P103,ASA GOLD AND PRECIOUS METALS,162.350,2.751,NaN,1.606,NaN,NaN,San Mateo,CA,2015
11,G3156P103,ASA GOLD AND PRECIOUS METALS,245.020,4.279,NaN,1.791,NaN,NaN,San Mateo,CA,2016
12,G3156P103,ASA GOLD AND PRECIOUS METALS,245.020,4.279,NaN,1.791,83.257,3.210,San Mateo,CA,2016
13,G3156P103,ASA GOLD AND PRECIOUS METALS,245.562,3.678,NaN,1.360,1.744,3.075,San Mateo,CA,2017
14,G3156P103,ASA GOLD AND PRECIOUS METALS,245.562,3.678,NaN,1.360,NaN,NaN,San Mateo,CA,2017
15,002444107,AVX CORP,2459.015,381.605,10.400,327.052,225.871,1098.265,Fountain Inn,SC,2014
16,002444107,AVX CORP,2409.819,454.208,10.200,232.713,101.535,987.276,Fountain Inn,SC,2015
17,002444107,AVX CORP,2477.413,578.634,10.800,260.934,125.785,1067.927,Fountain Inn,SC,2016
18,723484101,PINNACLE WEST CAPITAL CORP,15028.258,39.488,6.407,10308.801,437.257,2146.419,Phoenix,AZ,2015
19,723484101,PINNACLE WEST CAPITAL CORP,16004.253,8.881,6.339,11068.341,442.034,2156.869,Phoenix,AZ,2016
20,723484101,PINNACLE WEST CAPITAL CORP,17019.082,13.892,6.292,11883.352,488.456,2096.751,Phoenix,AZ,2017
21,002535300,AARON'S INC,2658.875,14.942,12.700,1292.257,135.709,1642.792,Atlanta,GA,2015
22,002535300,AARON'S INC,2615.736,308.561,11.500,1134.138,139.283,1560.912,Atlanta,GA,2016
23,002535300,AARON'S INC,2692.264,51.037,11.900,964.260,292.536,1576.971,Atlanta,GA,2017
24,002824100,ABBOTT LABORATORIES,41247.000,5001.000,74.000,19921.000,4423.000,15561.000,Abbott Park,IL,2015
25,002824100,ABBOTT LABORATORIES,52666.000,18620.000,75.000,31949.000,1400.000,15878.000,Abbott Park,IL,2016
26,002824100,ABBOTT LABORATORIES,76250.000,9407.000,99.000,45152.000,477.000,20426.000,Abbott Park,IL,2017
27,98159J200,WORLDS INC,0.026,0.026,0.001,5.168,-4.037,0.769,Brookline,MA,2015
28,98159J200,WORLDS INC,0.093,0.093,0.001,4.872,-1.133,0.829,Brookline,MA,2016
29,004446100,ACETO CORP,489.774,34.020,0.270,235.563,33.483,481.275,Port Washington,NY,2015
...,...,...,...,...,...,...,...,...,...,...,...
34170,G0176J109,ALLEGION PLC,2285.300,199.700,9.400,2255.600,153.900,1624.000,Dublin,NaN,2015
34171,G0176J109,ALLEGION PLC,2247.400,312.400,9.400,2131.000,229.100,1748.000,Dublin,NaN,2016
34172,G0176J109,ALLEGION PLC,2542.000,466.200,10.000,2136.500,273.300,1840.900,Dublin,NaN,2017
34173,G0132M121,AGILITY HEALTH INC,25.599,1.307,0.691,36.541,-3.048,58.147,Grand Rapids,NaN,2015
34174,G0132M121,AGILITY HEALTH INC,23.439,0.621,1.219,37.783,-4.092,59.585,Grand Rapids,NaN,2016
34175,G65772108,NORDIC AMERICAN OFFSHORE,337.367,5.339,0.005,56.510,-10.844,30.365,Hamilton,NaN,2015
34176,G65772108,NORDIC AMERICAN OFFSHORE,374.854,2.953,0.006,140.658,-32.151,30.088,Hamilton,NaN,2016
34177,G65772108,NORDIC AMERICAN OFFSHORE,387.712,31.506,NaN,139.438,-29.326,24.676,Hamilton,NaN,2017
34178,Y2106R110,DORIAN LPG LTD,1099.101,204.821,0.050,225.887,25.261,58.608,Stamford,NaN,2014
34179,Y2106R110,DORIAN LPG LTD,1865.926,46.412,0.067,880.327,129.688,89.020,Stamford,NaN,2015
34180,Y2106R110,DORIAN LPG LTD,1746.235,17.019,0.069,770.233,-1.442,90.807,Stamford,NaN,2016
34181,G6564A105,NOMAD FOODS LTD,5353.161,671.846,4.395,3302.873,-366.274,808.669,Feltham,NaN,2015
34182,G6564A105,NOMAD FOODS LTD,4969.464,347.688,4.166,2961.947,38.409,1696.867,Feltham,NaN,2016
34183,G6564A105,NOMAD FOODS LTD,5532.164,263.522,3.875,3304.968,164.100,1968.843,Feltham,NaN,2017
34184,04016X101,ARGEN-X SE,49.910,38.565,0.041,9.430,-16.627,27.543,Breda,NaN,2015
34185,04016X101,ARGEN-X SE,111.611,94.859,0.058,44.739,-22.554,40.345,Breda,NaN,2016
34186,G0684D107,ATHENE HOLDING LTD,80854.000,2720.000,1.320,75491.000,562.000,1798.000,Pembroke,NaN,2015
34187,G0684D107,ATHENE HOLDING LTD,80854.000,2720.000,1.320,75491.000,NaN,NaN,Pembroke,NaN,2015
34188,G0684D107,ATHENE HOLDING LTD,86720.000,2459.000,1.325,79814.000,805.000,3152.000,Pembroke,NaN,2016
34189,G0684D107,ATHENE HOLDING LTD,86720.000,2459.000,1.325,79814.000,NaN,NaN,Pembroke,NaN,2016
34190,G0684D107,ATHENE HOLDING LTD,99747.000,4892.000,1.125,90539.000,1448.000,6956.000,Pembroke,NaN,2017
34191,G0684D107,ATHENE HOLDING LTD,99747.000,4892.000,1.125,90539.000,NaN,NaN,Pembroke,NaN,2017
34192,59564R104,MIDATECH PHARMA PLC,94.435,23.852,0.082,25.295,-14.892,15.822,Abingdon,NaN,2015
34193,59564R104,MIDATECH PHARMA PLC,69.937,21.723,0.079,13.527,-24.874,26.822,Abingdon,NaN,2016
34194,G66832109,NYX GAMING GROUP LTD,291.812,9.710,0.447,157.122,-8.403,53.736,Las Vegas,NV,2015
34195,G66832109,NYX GAMING GROUP LTD,752.376,37.918,1.040,561.227,-57.936,128.707,Las Vegas,NV,2016
34196,619784101,MOTIF BIO PLC,34.958,28.594,0.004,5.235,-8.517,8.258,New York,NaN,2015
34197,619784101,MOTIF BIO PLC,28.426,21.830,0.006,18.617,-40.324,39.707,New York,NaN,2016
34198,00287W103,ABCANN GLOBAL CORP,7.436,0.021,NaN,4.685,-4.402,3.669,Napanee,NaN,2015
34199,00287W103,ABCANN GLOBAL CORP,9.469,1.370,NaN,10.973,-6.227,5.206,Napanee,NaN,2016

In [11]:
df = df.drop(['fyear', 'costat'], axis=1).rename(index=str, columns={
    'conm': 'firm_name', 'at': 'total_assets', 'ch': 'cash', 'emp': 'emp_num', 'lt': 'total_debt', 
    'ni': 'net_income', 'xdp': 'depreciation_expense', 'xopr': 'operation_cost', 
})

In [12]:
df

,cusip,firm_name,total_assets,cash,emp_num,total_debt,net_income,depreciation_expense,operation_cost,city,state,year
0,000361105,AAR CORP,1515.000,54.700,4.850,669.900,10.200,NaN,1510.600,Wood Dale,IL,2014
1,000361105,AAR CORP,1442.100,31.200,4.700,576.300,47.700,NaN,1525.700,Wood Dale,IL,2015
2,000361105,AAR CORP,1504.100,10.300,4.600,589.900,56.500,NaN,1619.400,Wood Dale,IL,2016
3,02376R102,AMERICAN AIRLINES GROUP INC,48415.000,390.000,118.500,42780.000,7610.000,NaN,32099.000,Fort Worth,TX,2015
4,02376R102,AMERICAN AIRLINES GROUP INC,51274.000,322.000,122.300,47489.000,2676.000,NaN,32347.000,Fort Worth,TX,2016
5,02376R102,AMERICAN AIRLINES GROUP INC,51396.000,295.000,126.600,47470.000,1919.000,NaN,35398.000,Fort Worth,TX,2017
6,125141101,CECO ENVIRONMENTAL CORP,598.819,34.194,1.174,353.798,-5.602,NaN,322.251,Dallas,TX,2015
7,125141101,CECO ENVIRONMENTAL CORP,498.634,45.824,0.985,308.552,-38.218,NaN,360.792,Dallas,TX,2016
8,125141101,CECO ENVIRONMENTAL CORP,438.549,29.902,0.900,251.980,-3.029,NaN,316.986,Dallas,TX,2017
9,G3156P103,ASA GOLD AND PRECIOUS METALS,162.350,2.751,NaN,1.606,-60.285,NaN,3.376,San Mateo,CA,2015
10,G3156P103,ASA GOLD AND PRECIOUS METALS,162.350,2.751,NaN,1.606,NaN,NaN,NaN,San Mateo,CA,2015
11,G3156P103,ASA GOLD AND PRECIOUS METALS,245.020,4.279,NaN,1.791,NaN,NaN,NaN,San Mateo,CA,2016
12,G3156P103,ASA GOLD AND PRECIOUS METALS,245.020,4.279,NaN,1.791,83.257,NaN,3.210,San Mateo,CA,2016
13,G3156P103,ASA GOLD AND PRECIOUS METALS,245.562,3.678,NaN,1.360,1.744,NaN,3.075,San Mateo,CA,2017
14,G3156P103,ASA GOLD AND PRECIOUS METALS,245.562,3.678,NaN,1.360,NaN,NaN,NaN,San Mateo,CA,2017
15,002444107,AVX CORP,2459.015,381.605,10.400,327.052,225.871,NaN,1098.265,Fountain Inn,SC,2014
16,002444107,AVX CORP,2409.819,454.208,10.200,232.713,101.535,NaN,987.276,Fountain Inn,SC,2015
17,002444107,AVX CORP,2477.413,578.634,10.800,260.934,125.785,NaN,1067.927,Fountain Inn,SC,2016
18,723484101,PINNACLE WEST CAPITAL CORP,15028.258,39.488,6.407,10308.801,437.257,NaN,2146.419,Phoenix,AZ,2015
19,723484101,PINNACLE WEST CAPITAL CORP,16004.253,8.881,6.339,11068.341,442.034,NaN,2156.869,Phoenix,AZ,2016
20,723484101,PINNACLE WEST CAPITAL CORP,17019.082,13.892,6.292,11883.352,488.456,NaN,2096.751,Phoenix,AZ,2017
21,002535300,AARON'S INC,2658.875,14.942,12.700,1292.257,135.709,NaN,1642.792,Atlanta,GA,2015
22,002535300,AARON'S INC,2615.736,308.561,11.500,1134.138,139.283,NaN,1560.912,Atlanta,GA,2016
23,002535300,AARON'S INC,2692.264,51.037,11.900,964.260,292.536,NaN,1576.971,Atlanta,GA,2017
24,002824100,ABBOTT LABORATORIES,41247.000,5001.000,74.000,19921.000,4423.000,NaN,15561.000,Abbott Park,IL,2015
25,002824100,ABBOTT LABORATORIES,52666.000,18620.000,75.000,31949.000,1400.000,NaN,15878.000,Abbott Park,IL,2016
26,002824100,ABBOTT LABORATORIES,76250.000,9407.000,99.000,45152.000,477.000,NaN,20426.000,Abbott Park,IL,2017
27,98159J200,WORLDS INC,0.026,0.026,0.001,5.168,-4.037,NaN,0.769,Brookline,MA,2015
28,98159J200,WORLDS INC,0.093,0.093,0.001,4.872,-1.133,NaN,0.829,Brookline,MA,2016
29,004446100,ACETO CORP,489.774,34.020,0.270,235.563,33.483,NaN,481.275,Port Washington,NY,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
34170,G0176J109,ALLEGION PLC,2285.300,199.700,9.400,2255.600,153.900,NaN,1624.000,Dublin,NaN,2015
34171,G0176J109,ALLEGION PLC,2247.400,312.400,9.400,2131.000,229.100,NaN,1748.000,Dublin,NaN,2016
34172,G0176J109,ALLEGION PLC,2542.000,466.200,10.000,2136.500,273.300,NaN,1840.900,Dublin,NaN,2017
34173,G0132M121,AGILITY HEALTH INC,25.599,1.307,0.691,36.541,-3.048,NaN,58.147,Grand Rapids,NaN,2015
34174,G0132M121,AGILITY HEALTH INC,23.439,0.621,1.219,37.783,-4.092,NaN,59.585,Grand Rapids,NaN,2016
34175,G65772108,NORDIC AMERICAN OFFSHORE,337.367,5.339,0.005,56.510,-10.844,NaN,30.365,Hamilton,NaN,2015
34176,G65772108,NORDIC AMERICAN OFFSHORE,374.854,2.953,0.006,140.658,-32.151,NaN,30.088,Hamilton,NaN,2016
34177,G65772108,NORDIC AMERICAN OFFSHORE,387.712,31.506,NaN,139.438,-29.326,NaN,24.676,Hamilton,NaN,2017
34178,Y2106R110,DORIAN LPG LTD,1099.101,204.821,0.050,225.887,25.261,NaN,58.608,Stamford,NaN,2014
34179,Y2106R110,DORIAN LPG LTD,1865.926,46.412,0.067,880.327,129.688,NaN,89.020,Stamford,NaN,2015
34180,Y2106R110,DORIAN LPG LTD,1746.235,17.019,0.069,770.233,-1.442,NaN,90.807,Stamford,NaN,2016
34181,G6564A105,NOMAD FOODS LTD,5353.161,671.846,4.395,3302.873,-366.274,NaN,808.669,Feltham,NaN,2015
34182,G6564A105,NOMAD FOODS LTD,4969.464,347.688,4.166,2961.947,38.409,NaN,1696.867,Feltham,NaN,2016
34183,G6564A105,NOMAD FOODS LTD,5532.164,263.522,3.875,3304.968,164.100,NaN,1968.843,Feltham,NaN,2017
34184,04016X101,ARGEN-X SE,49.910,38.565,0.041,9.430,-16.627,NaN,27.543,Breda,NaN,2015
34185,04016X101,ARGEN-X SE,111.611,94.859,0.058,44.739,-22.554,NaN,40.345,Breda,NaN,2016
34186,G0684D107,ATHENE HOLDING LTD,80854.000,2720.000,1.320,75491.000,562.000,NaN,1798.000,Pembroke,NaN,2015
34187,G0684D107,ATHENE HOLDING LTD,80854.000,2720.000,1.320,75491.000,NaN,NaN,NaN,Pembroke,NaN,2015
34188,G0684D107,ATHENE HOLDING LTD,86720.000,2459.000,1.325,79814.000,805.000,NaN,3152.000,Pembroke,NaN,2016
34189,G0684D107,ATHENE HOLDING LTD,86720.000,2459.000,1.325,79814.000,NaN,NaN,NaN,Pembroke,NaN,2016
34190,G0684D107,ATHENE HOLDING LTD,99747.000,4892.000,1.125,90539.000,1448.000,NaN,6956.000,Pembroke,NaN,2017
34191,G0684D107,ATHENE HOLDING LTD,99747.000,4892.000,1.125,90539.000,NaN,NaN,NaN,Pembroke,NaN,2017
34192,59564R104,MIDATECH PHARMA PLC,94.435,23.852,0.082,25.295,-14.892,NaN,15.822,Abingdon,NaN,2015
34193,59564R104,MIDATECH PHARMA PLC,69.937,21.723,0.079,13.527,-24.874,NaN,26.822,Abingdon,NaN,2016
34194,G66832109,NYX GAMING GROUP LTD,291.812,9.710,0.447,157.122,-8.403,NaN,53.736,Las Vegas,NV,2015
34195,G66832109,NYX GAMING GROUP LTD,752.376,37.918,1.040,561.227,-57.936,NaN,128.707,Las Vegas,NV,2016
34196,619784101,MOTIF BIO PLC,34.958,28.594,0.004,5.235,-8.517,NaN,8.258,New York,NaN,2015
34197,619784101,MOTIF BIO PLC,28.426,21.830,0.006,18.617,-40.324,NaN,39.707,New York,NaN,2016
34198,00287W103,ABCANN GLOBAL CORP,7.436,0.021,NaN,4.685,-4.402,NaN,3.669,Napanee,NaN,2015
34199,00287W103,ABCANN GLOBAL CORP,9.469,1.370,NaN,10.973,-6.227,NaN,5.206,Napanee,NaN,2016